html, body {
	height: 100%;
	margin: 0; padding: 0;
	background-color: #11181F !important;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF !important;
	font-family: courier !important;
	font-size: 16px !important;
}

.stage {
	width: 1024px; height: 600px;
	background-color: #34495e !important;
	display: inline-block;
	vertical-align: middle;
}

.left {
	width: 400px; height: 600px;
	margin: 5px;
	float: left;
}

.right {
	width: 609px; height: 591px;
	margin: 5px;
	margin-left: 0px;
	float: left;
}

.canvas {
	width: 400px; height: 500px;
	background-color: #000;
}

.export {
	width: 400px; height: 86px;
}

.title {
	width: 609px; height: 30px;
	display: block;
	text-align: right;
	line-height: 30px;
}

.options {
	width: 200px; height: 560px;
	margin-left: 2px; margin-right: 1px;
	background-color: #7f8c8d;
	float: left;
}

.option {
	height: 35px;
	background-color: #34495e;
	margin: 2px;
	padding-left: 2px;
	font-size: 13px;
	border-radius: 4px;
}

.separator {
	height: 13px;
	margin: 2px;
}

.slider {
	width: 192px !important; height: 16px !important;
	top:-7px;
}

.slider-track {
	height: 16px !important;
}

.slider-track-high {
	background: #bdc3c7 !important;
}

.slider-selection {
	background: #2980b9 !important;
}

.slider-handle {
	display: none;
}

select {
	width: 115px; height: 28px;
	margin: 3px 3px 1px 1px !important;
	float: right;
	font-size: 12px !important;
	padding-left: 2px !important;
}

button {
	width: 90% !important;
	margin-left: 5% !important;
}

.import, .export, button {
	margin-top: 6px !important;
	font-size: 16px !important;
}